<footer class='jumbotron'>
  <div class='container'>
    <div class='row'>
        <div class='col-md-8'>
            <h3><strong>Ruby Mastery</strong></h3>
            <p>As the ultimate resource for Vue.js developers, Vue Mastery 
            produces weekly lessons so you can learn what you need to succeed as
             a Vue.js Developer.</p>
        </div>
        <div class='col-md-2'>
          <ul class='list-unstyled'>
              <li><h4><strong>RUBY MASTERY</strong></h4></li>
              <li><%= link_to 'Courses',   '' %></li>
              <li><%= link_to 'Pricing',   '' %></li>
              <li><%= link_to 'RubyConf',  '' %></li>
              <li><%= link_to 'Community', '' %></li>
          </ul>          
        </div>
        <div class='col-md-2'>
          <ul class='list-unstyled'>
              <li><h4><strong>ABOUT US</strong></h4></li>
              <li><%= link_to 'About', '' %></li>
              <li><%= link_to 'Contact', '' %></li>
              <li><%= link_to 'Privacy Policy', '' %></li>
              <li><%= link_to 'Terms of Service', '' %></li>
          </ul>
        </div>
      </div>
  </div>
</footer>